.DS_Store
/target
**/archive
*_index_table.tsv
*_hash_per_pair.tsv
*.pdb.tsv
analysis/
*_hash_raw.tsv
*_index_table.tsv
*.log
*.bin
# index files
*.value
*.offset
*.lookup
*.type
*_folddisco
*.tar.gz
temp
# Pre-built indices
index/afdb*
index/e_coli*
index/h_sapiens*
bin/folddisco
data/serine_peptidases_pdbtr_small
data/example_db_folddisco_db
test.index
