.DS_Store
/target
**/archive
*_index_table.tsv
*_hash_per_pair.tsv
*.pdb.tsv
analysis/
*_hash_raw.tsv
*_index_table.tsv
*.log
*.bin
# index files
*.value
*.offset
*.lookup
*.type
temp
index/e_coli*
index/h_sapiens*
bin/folddisco
